

@import '~leaflet2/dist/leaflet.css';


.lt-popup {
  max-width: auto;
}

.lt-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  display: flex;
  flex-direction: column;
}

.lt-popup .leaflet-popup-content-wrapper {
  border-radius: 10px;
  background: #3c3ce494;
}

.lt-popup .leaflet-popup-tip {
  border-radius: 0px !important;
  background: #3c3ce494;
}

.lt-popup-row {
  display: inline-flex;
  flex-direction: row;
  /*   margin-bottom: 5px; */
  align-items: center;
}

.lt-popup-row label {
  margin-bottom: 0px;
  margin-right: 5px;
  /* flex: 1; */
  width: 50px;
  color: #fff
}

.lt-popup-row div {
  /* flex: 2; */
  flex: none;
  color: #fff
}

.lt-actions-row {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
}



/* Location tracking css end */

.extra-marker i.fa-dp {
  margin-top: -35px;
  display: block;
  margin-left: -2px;
  font-size: 10px;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000 !important
}

.leaflet-popup {
  margin-bottom: 20px !important;
}

/* 
.leaflet-popup-tip-container {
  left: 0 !important;
} */
